# user-defined docker bridged network name
NETWORK=bidms_nw

LOCAL_APT_CACHER_PORT=13142

# The location on the host to store the cached files.  This is /v1 within
# the container.
HOST_APT_CACHER_DIRECTORY=/tmp/apt-cacher
